{% extends "base.html" %}

{% load static %}

{% block content %}
<p class = "text">We specialize in graphic design, creating of posters, leaflets, business cards, book covers, stickers, digital and offset printing. Logo prints on souvenirs, design of wall and desk calendars.To make an order please register and place an order. Thanks</p>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="spectra.jpg">
        <img src="{% static 'images/spectra.jpg' %}" alt="Logo of spectra">
      </a>
      <div class="desc">Logo of advertising agency. It is in vector format, scalable. Price for design $500</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="leaflet_one.jpg">
        <img src="{% static 'images/leaflet_one.jpg' %}" alt="Leaflet">
      </a>
      <div class="desc">sample. Leaflet for real estates. A4 size, 210mm x 297 mm. Price for design $200</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="poster_pol.jpg">
        <img class="img-fluid" src="{% static 'images/poster_pol.jpg' %}" alt="Poster">
      </a>
      <div class="desc">Poster. 24in x 36 in large format printing. Price for design $300</div>
    </div>
  </div>
  
<img id="comp" src="{% static 'images/white.png' %}">
<img id="comp" src="{% static 'images/white.png' %}">
<img id="comp" src="{% static 'images/white.png' %}"><img id="comp" src="{% static 'images/white.png' %}">
<img id="comp" src="{% static 'images/white.png' %}"><img id="comp" src="{% static 'images/white.png' %}">
<img id="comp" src="{% static 'images/white.png' %}"><img id="comp" src="{% static 'images/white.png' %}">
<img id="comp" src="{% static 'images/white.png' %}"><img id="comp" src="{% static 'images/white.png' %}">
<img id="comp" src="{% static 'images/white.png' %}"><img id="comp" src="{% static 'images/white.png' %}">


  {% endblock %}